@import "../../SCSS_StyleSheet/ColorVariable.scss";
@import "../../SCSS_StyleSheet/Function.scss";

.create-new-post {
  align-items: center;
  justify-content: center;
  width: 44%;

  .heading {
    padding-bottom: 0.8rem;
    font-size: 1rem;
  }

  .new-post-container {
    height: 45rem;
    border-top: 1px solid $borderLightGray;
    width: 100%;
  }
  .newpost-content {
    font-size: 1.3rem;
  }
  .select-button {
    @include buttonStyle(
      2.1rem,
      fit-content,
      0.1rem 1rem,
      0.5rem,
      $blueButtonColor,
      $whiteColor
    );
    margin: 0 auto;
    font-size: 0.9rem;
  }
  .cross-icons {
    @include heightWidthProperty(1.6rem, 1.6rem);
    position: absolute;
    right: 0.6em;
    top: 0.6rem;
  }
}
