$whiteColor: white;
$whitesmoke: whitesmoke;
$blackColor: black;
$mediumBlack: #212121;
$redColor: red;
$blueColor: #284776;
$mediumBlue: #6db5f9;
$linkBlue: #519bf7;
$darkwhite: rgb(233, 231, 231);
$darkOrange: #fb641b;
$lightGray: rgb(212, 212, 212);
$darkWhite: rgb(237, 235, 235);
$lightDarkWhite: rgb(250, 250, 250);
$mediumGray: rgb(160, 160, 160);
$gray: rgb(135, 135, 135);
$greenColor: #008000;
$darkGreen: rgb(0, 84, 0);
$lightGray94: #f0f0f0;
$lightGray88: #e0e0e0;
$mediumGreeen: #388f3c;
$boxShadowBlack: rgba(0, 0, 0, 0.2);
$lightPink: lightpink;
$gray62: #9e9e9e;
$lightBlue: rgb(235, 247, 251);
$darkGray: #717070;
$lightBlack: #454444;
$goldenPoppy: #ffc200;
$lightWhite: rgb(236, 248, 252);
$orangPeel: rgb(255, 157, 0);
$lightYellow: rgb(252, 210, 0);
$borderLightGray: rgb(210, 208, 208);
$blueButtonColor: #4E96F6;
$lihtGrayButtonColor: #EFEFEF;
$StoryBackground: linear-gradient(to right, red, orange);

//import Link @import '../../../SCSS_StyleSheet/ColorVariable/index.scss';
