@mixin buttonStyle($height, $width, $padding, $br, $bc, $color) {
  height: $height;
  @if ($width != "none") {
    width: $width;
  }
  @if ($padding != "none") {
    padding: $padding;
  }
  @if ($br != "none") {
    border-radius: $br;
  }
  @if ($bc != "none") {
    background-color: $bc;
  }
  @if ($color != "none") {
    color: $color;
  }
}

@mixin displayFlexProperty($ai, $jc, $gap) {
  display: flex;
  @if ($ai != "start") {
    align-items: $ai;
  }
  @if ($jc != "start") {
    justify-content: $jc;
  }
  @if ($gap != none) {
    gap: $gap;
  }
}
@mixin displayFlexColumnProperty($ai, $jc, $gap) {
  display: flex;
  flex-direction: column;
  @if $ai != "start" {
    align-items: $ai;
  }
  @if $jc != "start" {
    justify-content: $jc;
  }
  @if ($gap != none) {
    gap: $gap;
  }
}
@mixin displayGridProperty($gtc, $gap) {
  display: grid;
  grid-template-columns: $gtc;
  gap: $gap;
}
@mixin absoluteProperty($top, $right, $bottom, $left) {
  position: absolute;

  @if $top >= 0 {
    top: $top;
  }
  @if $right >= 0 {
    right: $right;
  }
  @if $bottom >= 0 {
    bottom: $bottom;
  }
  @if $left >= 0 {
    left: $left;
  }
}
@mixin flexCenter{
  display: flex;
  align-self: center;
  justify-content: center;
}
@mixin imgProperty($width, $ar, $height) {
  width: $width;
  @if ($ar != "none") {
    aspect-ratio: $ar;
  }
  @if ($height != "none") {
    height: $height;
  }
}

@mixin heightWidthProperty($height, $width) {
  height: $height;
  width: $width;
}
